<!--ユーザー一覧画面-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--_userテンプレートファイル-->
      <%= render 'user',{user:@user,book:@book} %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col-4">image</th>
          <th scope="col-3">name</th>
          <th scope="col-5"></th>
        </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>  
            <td><%= image_tag user.get_profile_image(100,100) %></td>
            <td><%= user.name %></td>
            <td><%= link_to "Show",user_path(user.id)%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

